@font-face {
  font-family: "Karla";
  src: local("Karla"), local("Karla"),
    url("Karla-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Karla";
  src: local("Karla"), local("Karla"),
    url("Karla-Bold.ttf");
  font-weight: bold;
}



* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #293264;
}

#root {
  display: flex;
  justify-content: center;
}

main {
  width: 100vw;
  min-height: 100vh;
  background-color: #F5F7FB;
  background-image: url(/blob-yellow.png), url(/blob-blue.png);
  background-repeat: no-repeat;
  background-position: top right, bottom left;
  background-size: 15vmax 15vmax, 15vmax 10vmax;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-view {
  background-size: 25vmax 25vmax, 25vmax 15vmax;
  text-align: center;
  justify-content: flex-start;
  padding-top: 20vh
}

.text-container {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem 1.5rem 1.5rem;
}

.game-title {
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  font-size: clamp(2rem, 15vh, 3.75rem);
  line-height: 1.2;
  margin-bottom: clamp(0.5rem, 2vh, 1rem);
}

.game-subtitle {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: clamp(1rem, 2.5vh, 1.5rem);
  line-height: 1.2;  
  margin: 0 0 clamp(40px, 10vh, 60px) 0;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.question-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.question-text {
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  font-size: clamp(1rem, 3.2vh, 1.2rem);
  line-height: 1.2;
  margin: 1rem 0;
}

.answers-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.81rem;
  padding-bottom: clamp(1rem, 3.5vh, 1.5rem);
  border-bottom: 0.8px solid #DBDEF0;
}

.answer-option {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: clamp(0.725rem, 2vh, 1.2rem);
  line-height: 1.2;
  text-align: center;
  color: #293264;
  margin: 0;
  padding: 0.25rem 1.25rem;
  border: 0.77px solid #4D5B9E;
  border-radius: 7px;
  background-color: transparent;
  max-width: calc(100vw / 2 - 40px);
  cursor: pointer;
}

.selected-answer {
  background-color: #D6DBF5;
  border: none;
}

.game-summary {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.game-summary-txt {
  font-family: 'Inter';
  font-weight: 600;
  font-size: clamp(0.8rem, 3vh, 1.5rem);
  line-height: 1.2;
  text-align: center;
  margin: 0;
  margin-right: clamp(1.25rem, 6vh, 1.75rem)
}

button {
  font-family: 'Inter', sans-serif;
  border: none;
  cursor: pointer;
  line-height: 1.2;
}

button:hover,
button:focus,
button:active {
  outline: none;
}

.main-btn {
  background: #4D5B9E;
  color: #F5F7FB;
}

.main-btn:hover,
.main-btn:active {
  box-shadow: inset 0px 0px 10px #323A65;
}

.start-game-btn {
  border-radius: 15px;
  padding: 1rem 4rem;
  font-weight: 400;
  font-size: clamp(1rem, 3.5vh, 1.8rem);
  letter-spacing: 1px;
}

.game-summary-btn {
  border-radius: 10px;
  padding: 0.6rem 2rem;
  font-weight: 500;
  font-size: clamp(0.725rem, 3.2vh, 1.25rem);
}