@font-face {
  font-family: "Karla";
  src: local("Karla"), local("Karla"),
    url("Karla-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Karla";
  src: local("Karla"), local("Karla"),
    url("Karla-Bold.ttf");
  font-weight: bold;
}



* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #293264;
}

#root {
  display: flex;
  justify-content: center;
}

main {
  width: 100vw;
  height: 100vh;
  background-color: #F5F7FB;
  background-image: url(/blob-yellow.png), url(/blob-blue.png);
  background-repeat: no-repeat;
  background-position: top right, bottom left;
  background-size: 15vmax 15vmax, 15vmax 10vmax;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-view {
  background-size: 25vmax 25vmax, 25vmax 15vmax;
  text-align: center;
}

.text-container {
  max-width: 800px;
}

.home {
  align-self: flex-start;
  margin-top: 25vh;
}

.game-title {
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  font-size: clamp(2rem, 15vh, 60px);
  line-height: 1.2;
  margin-bottom: clamp(0.5rem, 2vh, 1rem);
}

.game-subtitle {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: clamp(1rem, 2.5vh, 1.5rem);
  line-height: 1.2;  
  margin: 0 0 clamp(40px, 10vh, 60px) 0;
}

button {
  font-family: 'Inter', sans-serif;
  background: #4D5B9E;
  border: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:hover,
button:focus,
button:active {
  box-shadow: inset 0px 0px 10px #323A65;
}

.start-game-btn {
  border-radius: 15px;
  padding: 1rem 4rem;
  color: white;
  font-weight: 400;
  font-size: clamp(1rem, 2.5vh, 1.5rem);
  line-height: 1.2;
  letter-spacing: 1px;
}